.app {
  display: flex;
  justify-content: space-around;
}

.main {
  margin-top: 40px;
  padding-left: 10px;

  & .search input {
    width: 50vw;
    margin: auto;
  }
}
.map {
  width: 50vw;
  & img {
    width: 100%;
  }
}

.flats {
  width: 50vw;
}