.flat {
  width: 40%;
  height: 50vh;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;

  .flat-img {
    border: 1px solid lightblue;
    height: 50%;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .flat-info {
    padding-left: 10px;
  }
}
